body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.delete1 {
  margin: 20px;
  margin-top: 10px;
  color: red;
}
.delete{
  margin: 30px;
  color: red;
}

.addbtn {
  color: green;
  margin: 20px;
}

.input {
  text-align:center;
  color: greenyellow;
}