body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.delete1 {
  margin: 20px;
  margin-top: 10px;
  color: red;
}
/* .delete{
  margin: 30px;
  color: red;
} */

.btn-outline-primary  {
  color: green; 
  margin: 10px; 
  width: 100px;
  margin-top: -60px;
  margin-left: 30px;
 
   
} 

.btn-outline-warning {
  margin:10px;
}


 .btn-outline-danger {

  margin-top: -70px;
 }
.input {
  text-align:center;
  color: greenyellow;
}



.form-control{
  width: 30%;
  margin-top: 60px;
  /* text-align: center; */
  margin-left: 100px;
}


/* Use a media query to add a breakpoint at 800px: */
@media only screen and (min-width: 200px) {
  .btn-outline-dange, .btn-outline-warning, .btn-outline-primary {
    width: 100px; /* The width is 100%, when the viewport is 800px or smaller */
  }
}